@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,200&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-link {
  color: black !important;
}

.navbar-brand {
  color:black !important;
}


/* .collapse navbar-collapse{
  text-align: center;

}

.navbar nav{
  display: inline-block;
} */

h1{
  font-size:20px !important;
}

.flex-container {
  display: flex !important;
}

.btn{
  background-color: red !important;
  color: white !important;
  font-size: 18px !important;
}

select{
  box-shadow: none !important;
  border-color: black !important;
}

.fa-plus{
  color: green;
  margin: 5px;
}

.fa-minus{
  color: red !important;
  margin: 5px;
}

.fa-trash{
  color: red;
}

input{
  margin-top: 10px !important;
  box-shadow: none !important;
}

.login{
  background-image: url('./images/login.jpg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height:88vh;
}
.register{
  background-image: url('./images/register.jpg');
  /* background-size: 100% auto; */
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height:88vh;
}

.adminfunctions{
  padding: 10px;
  background-color: rgb(64, 64, 147);
}

.adminfunctions li{
  display: inline !important;
  color: white !important;
}

.adminfunctions li a{
  text-decoration: none !important;
  color: white !important;
  padding: 20px !important;

}

td, tr, th {
  text-align: left;
}

/* input[type=text] {
  padding:5px; 
  border:2px solid #ccc; 
  -webkit-border-radius: 5px;
  border-radius: 5px;
} */

/* input[type=text]:focus {
  border-color:#333;
} */
/* input[type=submit] {
  padding:5px 15px; 
  background:#ccc; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px; 
} */

/* Added lines 129+ */

.side-bar {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  width: 200px;
  background-color: black;
  overflow-x: hidden;
  transition: 0.3 ease-in;
  padding-top: 60px;
}

.side-bar a{
  padding: 8px 8px 8px 10px;
  display: flex;
  font-size: 25px;
  color: rgb(255, 254, 254) !important;
  transition: 0.3s;
}

.side-bar ul li{
  list-style: none;
}

.side-bar ul li:after{
  content: '';
  width: 0%;
  height: 5px;
  background: gold;
  display: block;
  margin: auto;
  transition: 0.1s;

}


.side-bar ul li:hover::after {
  width: 100%;
}


.closeBtn {
  padding-right: 150px;
  background-color: black;
  border: none;
  color: rgb(255,254,254) !important;
  font-size: 20px !important;
}

#navbarNav ul li:after{
  content: '';
  width: 0%;
  height: 5px;
  background: black;
  display: block;
  margin: auto;
  transition: 0.5s;
}

#navbarNav ul li:hover::after{
  width: 100%;  
}

.nav-item-log{
  width: 0%;
}

.btn:active {
  transform: scale(1.1);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.fa-trash:active{
  transform: scale(1.1);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.fa-plus:active{
  transform: scale(1.1);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.fa-minus:active{
  transform: scale(1.1);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}
.fa-edit:active{
  transform: scale(1.1);
  /* Scaling button to 0.98 to its original size */
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  /* Lowering the shadow */
}

.contact-us{
  background-image: url('./images/contact.jpg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height:88vh;
}

.home-screen{
  /* background-image: linear-gradient(rgba(184, 148, 148, 0.7), rgba(204, 169, 169, 0.7)), url('./images/home_screen.jpg'); */
  background-image: url('./images/home_screen.jpg');
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height:88vh;
}