body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* background-color: rgb(10, 17, 25) */
  background-color: black;
}


.gradient-custom {
  min-height: 100vh;
  min-width: 100%;
  
  background-image: url(../images/sample.jpeg);
  background-position: center;
  background-size: cover;
  position: relative;
  }

nav {
  display: flex;
  padding: 1%;
  justify-content: space-between;
  align-items: center;
  /* background-color: rgb(10, 17, 25) */
  background-color: black;
}

.nav-links {
  flex: 1;
}

.nav-links ul {
  margin: 0;
  text-align: center;
  margin-top: -10px;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
  margin-left: 40px;
  margin-right: 40px;
  margin-top: -10px;
}

.nav-links ul a {
  color: beige;
  text-decoration: none;
}

/*Underlines the menu items */
.nav-links ul li::after {
  content: '';
  width: 0%;
  height: 5px;
  background: gold;
  display: block;
  margin: auto;
  transition: 0.5s;
}


.nav-links ul li:hover::after {
  width: 100%;
}


/* Scales for other screens */
@media(max-width:700px) {
  .text-box h1 {
    font-size: 20px;
  }

  .nav-links ul li {
    display: block;
  }

  .nav-links {
    position: absolute;
    /* background:rgb(114, 106, 106); */
    background: black;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    text-align: left;
    z-index: 2;
    transition: 1s;
  }


  nav .fa {
    display: block;
    color: white;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
  }
}

.text-box {
  width: 100%;
  color: beige;
  position: absolute;
  top: 20%;
  bottom: 50%;
  text-align: center;
  height: 50%;
}
