body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    /* background-color: rgb(10, 17, 25) */
    background-color: black;
  }

  
  nav {
    display: flex;
    padding: 1%;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(10, 17, 25) */
    background-color: black;
  }
  
  .nav-links {
    flex: 1;
  }
  
  .nav-links ul {
    margin: 0;
    text-align: center;
    margin-top: -10px;
  }
  
  .nav-links ul li {
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: -10px;
  }
  
  .nav-links ul a {
    color: beige;
    text-decoration: none;
  }
  
  /*Underlines the menu items */
  .nav-links ul li::after {
    content: '';
    width: 0%;
    height: 5px;
    background: gold;
    display: block;
    margin: auto;
    transition: 0.5s;
  }


  .nav-links ul li:hover::after {
    width: 100%;
  }

  .party-rentals::after{
    content: '';
    width: 0%;
    height: 5px;
    background: gold;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .party-rentals:hover::after{
    width: 100%;
  }

  .catering::after{
    content: '';
    width: 0%;
    height: 5px;
    background: gold;
    display: block;
    margin: auto;
    transition: 0.5s;
  }
  .catering:hover::after{
    width: 70%;
  }
  
  
  /* Scales for other screens */
  @media(max-width:700px) {
    .text-box h1 {
      font-size: 20px;
    }
  
    .nav-links ul li {
      display: block;
    }
  
    .nav-links {
      position: absolute;
      /* background:rgb(114, 106, 106); */
      background: black;
      height: 100vh;
      width: 200px;
      top: 0;
      right: -200px;
      text-align: left;
      z-index: 2;
      transition: 1s;
    }
  
  
    nav .fa {
      display: block;
      color: white;
      margin: 10px;
      font-size: 20px;
      cursor: pointer;
    }
  }
  
  .text-box {
    width: 100%;
    color: beige;
    position: absolute;
    top: 20%;
    bottom: 50%;
    text-align: center;
    height: 50%;
  }
  
  .food-section p {
    color: rgb(255, 255, 255);
    font-family: 'almoni-dl-aaa-300', 'sans-serif';
    font-size: 18px;
    width: 20%;
    margin-left: 30%;
    text-align: center;
    font-stretch: normal;
    outline-color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.6;
  }

  .wine-section p {
    color: rgb(255, 255, 255);
    font-family: 'almoni-dl-aaa-300', 'sans-serif';
    font-size: 18px;
    width: 20%;
    margin-left: 30%;
    text-align: center;
    font-stretch: normal;
    outline-color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.6;
  }
  
  /*
  .toggle-section p {
    color: rgb(255, 255, 255);
    font-family: 'almoni-dl-aaa-300', 'sans-serif';
    font-size: 18px;
    width: 45%;
    margin-left: 130%;
    text-align: left;
    font-stretch: normal;
    outline-color: rgb(255, 255, 255);
    font-weight: 400;
    letter-spacing: normal;
    line-height: 1.5;
  }
  */
  
  .foodlist-section p {
  color: rgb(255, 255, 255);
  font-family: 'almoni-dl-aaa-300', 'sans-serif';
  font-size: 18px;
  width: 45%;
  margin-left: 130%;
  text-align: right;
  font-stretch: normal;
  outline-color: rgb(255, 255, 255);
  font-weight: 400;
  letter-spacing: normal;
  line-height: 1.6;
  }
  
  /* * {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  } */
  
  .footer {
    width: 100vw;
    display: block;
    overflow: hidden;
    padding: 50px 0; 
    box-sizing: border-box;
    /* background-color: rgb(10, 17, 25); */
    background-color:black;
  }
  
  
  
  .inner_footer {
    display: block;
    margin: 0 auto;
    width: 1100px;
    height: 100%;
  }
  
  .inner_footer .logo_container {
    width: 35;
    float: left;
    height: 100;
    display: block;
  }
  
  
  
  .inner_footer .footer_third {
    width: calc(21.666666666% - 20px);
    margin-right: 10px;
    float: left;
    height: 100%;
  }
  
  .inner_footer .footer_third:last-child {
    margin-right: 0;
  }
  
  .move-right {
    margin-left: 50%;
  }
  
  .inner_footer .footer_third h1 {
    font-family: 'arial';
    font-size: 20px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  
  
  }
  
  .inner_footer .footer_third h3 {
    font-family: 'arial';
    font-size: 20px;
    color: white;
    display: block;
    width: 100%;
    margin-bottom: 20px;
  
  
  }
  
  .inner_footer .footer_third a {
    font-family: 'arial';
    font-size: 15px;
    color: white;
    display: block;
    font-weight: 200;
    width: 100%;
    padding-bottom: 5px;
  
  }
  
  
  .inner_footer .footer_third li {
    display: inline-block;
    padding: 0 5px;
    font-size: 20px;
  
  }
  
  .inner_footer .footer_third span {
    color: white;
    font-family: 'arial';
    font-size: 15px;
    font-weight: 200;
    display: block;
    width: 100%;
    padding-top: 20px;
  }
  
  @media(max-width: 600px) {
    .footer .inner_footer {
      width: 90%;
    }
  
    .inner_footer .logo_container,
    .inner_footer .footer_third {
      width: 100%;
      margin-bottom: 30px;
    }
  }